{% extends 'base_bodega.html' %}

{% load static %}

{% block contenido %}
<!-- buscador de archivos 
 <div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="exampleInputFile">
      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
    </div>
    <div class="input-group-append">
      <span class="input-group-text">Upload</span>
    </div>
  </div>

 -->
 
  <div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ingresar Producto</h3>
      </div>
    
        
            
    
<div class="card-body" >
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Text</label>
                <input class="form-control" name="id_productos" type="text"  placeholder="id ingrediente" required>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label>Text</label>
                <input class="form-control" name="nombre_ingrediente" type="text"  placeholder="nombre_ingrediente">
            </div>
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Text</label>
            <div class="form-group">
                <select name="categoria" class="form-control custom-select">
                  <option selected disabled>Tipo de ingrediente</option>
                  <option>PESCADOS Y MARISCOS</option>
                  <option>FRUTA Y VERDURA</option>
                  <option>CONDIMENTO Y SALSA</option>
                </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Text</label>
                <input class="form-control" name="stock" type="number" placeholder="stock">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Text</label>
            <div class="form-group">
                <select name="un_medida" class="form-control custom-select">
                  <option selected disabled>unidad de medida</option>
                  <option>KG</option>
                  <option>GRS</option>
                  <option>LTS</option>
                </select>
            </div>
          </div>
        </div>
                
                
                <!-- <input class="form-control" type="text" placeholder="Default input"> -->
                <!-- <br>
                <input class="form-control" type="number" id=numid name=numid placeholder="numerosjej" min="1" value="1" required> -->
                <div class="col-sm-6">
              <div class="form-group">
                <label>Text</label>
                <input type="date" name="fecha" class="form-control"
                value="2018-07-22"
                min="2018-01-01" max="2030-12-31">
                </div>
              </div>
            </div>
                <br>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-block btn-primary" value="Guardar">Crear Ingrediente</button>
                  </div>
</form>
{{mensaje}}


              </div>
              <!-- /.card-body -->
            

<!-- botones de sing y cancel -->
<!-- <div class="card-footer">
    <button type="submit" class="btn btn-info">Sign in</button>
    <button type="submit" class="btn btn-default float-right">Cancel</button>
  </div> -->
{% endblock %}

