{% extends 'base_bodega.html' %}
{% load static %}
{% block contenido %}

<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>Listar</h3>

              <p>ingrediente</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'listar_suministros'%}" class="small-box-footer">Mas info<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>Agregar<sup style="font-size: 20px"></sup></h3>

              <p>ingrediente</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'agregar_producto_listado'%}" class="small-box-footer">Mas info<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>Modificar</h3>

              <p>ingrediente</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{% url 'listar_ingredientemod'%}" class="small-box-footer">Mas info<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>Eliminar</h3>

              <p>ingrediente</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{% url 'listar_ingredientemod'%}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
<!-- --------------------------------------------------------------------------------------------------------- -->

        <div class="card-body" >
        <div class="card">
         
          
          <!-- /.card-header -->
          <div class="card card-info">
            
          <div class="card-body p-0">
            <table class="table table-sm">
              
                  
              <thead class="bg-info">
                <tr>
                  <th style="width: 10px"></th>
                  <th>Ingrediente</th>
                  <th>stock</th>
                  <th style="width: 40px">info</th>
                </tr>
                </thead>
              
                  {% for r in stoki %}
                
              
              <tbody>
                <tr>
                  <td>-</td>
                  <td>{{ r.1 }}</td>
                  <td> {{ r.3 }} </td>




                  <td><span class="badge bg-danger">CUIDADO <br>STOCK EN ESCASEZ</span></td>
                  
                </tr>
               
                
                {% endfor %}
               
              </div>
            </div>
{% endblock %}

