{% extends 'base_bodega.html' %}

{% load static %}

{% block contenido %}
<div class="card-body">
  <table id="example1" class="table table-bordered table-striped">
      <tr>
          <th>id</th>
          <th>nombre</th>
          <th>filtro</th>
          <th>stock</th>
          <th>unidad medida</th>
          <th>fecha caducidad</th>
          
      </tr>
      {% for p in ingredientes %}
          <tr>
              <td>{{ p.0}}</td>
              <td>{{ p.1}}</td>
              <td>{{ p.2}}</td>
              <td>{{ p.3}}</td>
              <td>{{ p.4}}</td>
              <td>{{ p.5}}</td>
              
          </tr>
      {% endfor %}
  </table>
</div>
    
{% endblock %}

