{% extends 'base_reserva.html' %}

{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>Nuevo</h3>

          <p>Cliente</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'crearCliente'%}" class="small-box-footer">Agregar<i class="fas fa-arrow-circle-right"></i></a>
    </div>
      
    </div>
    <!-- ./col -->
    
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>Buscar</h3>

          <p>Cliente</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'listarClientes'%}" class="small-box-footer"> Buscar <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>Modificar</h3>

          <p>Cliente</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="{% url 'listarClientesModificar'%}" class="small-box-footer"> Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>Eliminar</h3>

          <p>Cliente</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer"> Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
   
    <!-- ./col -->
  </div>


{% endblock %}