{% extends 'base_generica.html' %}
{% load static %}
{% block contenido %}


<div>
 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listado de ingredientes</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Stock</th>
                      <th>Unidad de medida</th>
                      <th>Fecha de caducidad</th>
                      <th>Editar</th>
                  </tr>
                </thead>
                {% for i in ingredientes %}
                <tbody>
                  <tr>
                    <td>{{ i.id_ingrediente }}</td>
                    <td>{{ i.nom_ingrediente}}</td>
                    <td>{{ i.desc_ingrediente}}</td>
                    <td>{{ i.stock}}</td>
                    <td>{{ i.unidad_de_medida}}</td>
                    <td>{{ i.fec_caduc}}</td>
                    <td>
                        <a href="{% url 'modificarReserva' i.id_ingrediente %}">Editar</a>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
                <tfoot>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Stock</th>
                      <th>Unidad de medida</th>
                      <th>Fecha de caducidad</th>
                  </tr>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
</div>


{% endblock %}
