{% extends 'base_reserva.html' %}
{% load static %}
{% block contenido %}

 <!-- general form elements -->
 <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Crear Reserva</h3>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
      <div class="card-body">


    

        <div class="form-group">
            <label for="exampleInputEmail1">Fecha y hora de reserva</label>
            <input  name="fecha_reserva" class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Fecha reserva hecha</label>
            <input name="fecha_reserva_hecha"  class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>
     
        <div class="form-group">
            <label for="exampleInputEmail1">Rut Empleado</label>
            <input name="empleado" class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Rut Cliente</label>
            <input name="cliente" class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">ID mesa</label>
        <select name="id_mesa" class="custom-select rounded-0" id="exampleSelectBorder">
            {% for m in mesas %}
            <option value="{{m.0}}">{{m.0}}</option>
            {% endfor %}
        </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Origen Reserva</label>
        <select name="origen" class="custom-select rounded-0" id="exampleSelectBorder">
            <option value="Internet">Internet</option> 
            <option value="Presencial">Presencial</option> 
            <option value="{{m.0}}">{{m.0}}</option> 
            <option value="{{m.0}}">{{m.0}}</option> 
        </select>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Origen Reserva</label>
            <input name="origen" class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Estado Reserva</label>
            <input name="estado"class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Cantidad de Personas</label>
            <input name="cantP" class="form-control" id="exampleInputEmail1" placeholder="Ingresa un ID">
        </div>

      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    {{mensaje}}
  </div>

<script>
  $('#timepicker').datetimepicker({
    format: 'LT'
  })
</script>
{% endblock %}