{% extends 'base_finanzas.html' %}

{% load static %}

{% block contenido %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function()
    {
        var boleta;
        var totalboleta=0;
        $('td:nth-child(3)').each(function()
        {
            boleta=$(this).html();
            totalboleta+=parseInt(boleta);
            $('#boletat').text('$'+totalboleta);
        });
    });
</script>

<div class="col-sm-6">
    <h2 class="m-0">Guias despacho</h2>
</div>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <tr>
            <th>Id Despacho</th>
            <th>Fecha Envio</th>
            <th>Total de la Guia</th>
        </tr>
        {% for p in guia_despacho %}
            <tr>
                <td>{{ p.0}}</td>
                <td>{{ p.4}}</td>
                <td>{{ p.3}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: right;">Total Boletas</td>
            <td id='boletat'></td>
        </tr>
    </table>
</div>

{% endblock %}