{% extends 'base_finanzas.html' %}

{% load static %}

{% block contenido %}


<div>
  <div class="col-sm-6">
    <h2 class="m-0">Inicio</h2>
  </div><!-- /.col -->
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>Boletas</h3>

          <p> </p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'boletas_finanzas'%}" class="small-box-footer">Ir<i class="fas fa-arrow-circle-right"></i></a>
    </div>
      
    </div>
    <!-- ./col -->
    
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>Proveedores</h3>

          <p></p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'proveedores_finanzas'%}" class="small-box-footer"> Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>Guias Despacho</h3>

          <p></p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="{% url 'guias_desp_finanzas'%}" class="small-box-footer"> Ir <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
  </div>
</div>


{% endblock %}