{% extends 'base_finanzas.html' %}

{% load static %}

{% block contenido %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function()
    {
        var boleta;
        var totalboleta=0;
        $('td:nth-child(4)').each(function()
        {
            boleta=$(this).html();
            totalboleta+=parseInt(boleta);
            $('#boletat').text('$'+totalboleta);
        });
    });
</script>

<div class="col-sm-6">
    <h2 class="m-0">Boletas</h2>
</div>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <tr>
            <th>Id boleta</th>
            <th>Fecha de Emision</th>
            <th>Hora de emision</th>
            <th>Monto</th>
            <th>Metodo de pago</th>
        </tr>
        {% for p in boletas %}
            <tr>
                <td>{{ p.0}}</td>
                <td>{{ p.1}}</td>
                <td>{{ p.2}}</td>
                <td>{{ p.3}}</td>
                <td>{{ p.4}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align: right;">Total Boletas</td>
            <td id='boletat'></td>
        </tr>
    </table>
    <div class="card-footer clearfix">
        <a href="{% url 'agregar_boleta_finanzas'%}" class="btn btn-sm btn-info float-right">Ingresar Boleta</a>
        <!--a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a-->
      </div>
</div>

{% endblock %}