{% extends 'base_generica_totem.html' %}
{% load static %}
{% block contenido %}


<style>
    .filterDiv {
      display: none;
    }
    
    .show {
      display: block;
    }
    
    .container {
      margin-top: 20px;
      overflow: hidden;
    }
    
    .padd {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    }

    .padd2{
        padding-right: 25px;
        padding-left: 25px;
    }

    body {
        background-image: url("{% static '/assets/img/fondoIndex.jpg'%}");
    }

    .fondo{
        background-color: rgba(255, 250, 250, 0.6);
        border-radius: 25px;
    }

    .texto{
        text-align: center;
    }
    
    .colorboton{
        background-color: rgb(153, 155, 190);
    }

</style>


 

<div class="padd">
    <div class="fondo texto">
        <div class="card card-secondary fondo">
            <div class="card-header">
              <h3 class="card-title">Elige tu mesa para hacer la reserva</h3>
            </div>
            <h3>&nbsp&nbsp</h3>

<div class="row padd2">
  {% for m in mesas %}   
      <div class="col-lg-2 col-6 filterDiv">
        <div  class="small-box colorboton filterDiv ">
          <div class="inner">
            <h3>{{m.0}}</h3>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"> </i>
          </div>
          <a href="{% url 'reservar_totem' ruto.0.0 m.0 %}"  class="small-box-footer">
            <i class="fas fa-arrow-circle-righ "> Toque aquí</i>
          </a>
        </div>
      </div>
  {% endfor %}
  </div>
  <h3>&nbsp&nbsp</h3>
</div>
</div>

    <script>
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }
    
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }
    
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
  
    window.onload = function reset() {
    var elements = document.getElementsByName('1x'); 
    for(var i = 0; i < elements.length; i++){
      elements[i].classList.toggle('bg-danger');
    }
  
  
  }
  
  }
    </script>
    

{% endblock %}
