{% extends 'base_generica_admin.html' %}
{% load static %}
{% block contenido %}


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
  
    
        

          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="{% static '/assets/img/imagen1.jpg'%}"
                     alt="User profile picture">
              </div>
              {% for e in empleado %}

              <h3 class="profile-username text-center">{{e.2}}&nbsp{{e.4}}</h3>

              <p class="text-muted text-center">{{e.13}}</p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Telefono</b> <a class="float-right">{{e.7}}</a>
                </li>
                <li class="list-group-item">
                  <b>Correo</b> <a class="float-right">{{e.10}}</a>
                </li>
              </ul>
              {% endfor %}

             
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Más información</h3>
            </div>
            {% for e in empleado %}
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> Genero</strong>

              <p class="text-muted">
                {{e.6}}
              </p>

              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Fecha de nacimiento</strong>

              <p class="text-muted">{{e.8}}</p>

              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Salario </strong>

              <p class="text-muted">
                <span class="tag tag-danger">{{e.9}}</span>

              </p>

              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notas</strong>

              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            {% endfor %}
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}